Repository yanagi-jabee-28/GAME-ON: changes, and which lefthook commands are due for each by the changed paths.
All: check, format_html

lefthook.yml:

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: cmd /c "npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}"
      stage_fixed: true
    format_html:
      glob: "*.html"
      run: cmd /c "npx prettier --write --no-error-on-unmatched-pattern --ignore-unknown {staged_files}"
      stage_fixed: true

fix: SVGの取得時のエラーメッセージを改善し、コードの可読性を向上
  UNDERTALE-2/player.ts
Due: check

UNDERTALE-2: add player status UI and adjust layout spacing (name/level/HP bar)
  UNDERTALE-2/assets/attack-bar.jpg
  UNDERTALE-2/index.html
Due: format_html

UNDERTALE-2: align status UI to playfield width; grid layout and white frame
  UNDERTALE-2/index.html
Due: format_html

UNDERTALE-2: move HP label left of bar and set bar width to 240px
  UNDERTALE-2/index.html
Due: format_html

Checkpoint from VS Code for coding agent session
  UNDERTALE-2/index.html
Due: format_html

fix: プレイヤー情報のHPバーの位置と幅を調整し、初期表示スクリプトを追加
  UNDERTALE-2/index.html
Due: format_html

fix: エンティティの衝突時に弾を削除するデフォルト設定を有効化し、ゲーム開始時に設定をログ出力 style: プレイヤー情報のステータス表示を調整し、フォントサイズを変数で管理
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
Due: check, format_html

Add broken heart SVG assets for UNDERTALE-2
  UNDERTALE-2/assets/attack-bar.png
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broken.svg
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broking.svg
  UNDERTALE-2/constants.ts
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/player.ts
Due: check

feat: ゲームオーバー時にすべてのエンティティを削除する機能を追加
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
Due: check

feat: プレイヤー死亡時の処理を追加し、ゲームオーバーオーバーレイを実装
  UNDERTALE-2/constants.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
  UNDERTALE-2/player.ts
Due: check, format_html

feat: ハートの表示サイズを定義し、CSSで使用するための変数を設定
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broking.svg
  UNDERTALE-2/constants.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

feat: GAMEOVER画面表示までの待機時間を定義し、ハート破片の生成処理を追加
  UNDERTALE-2/constants.ts
  UNDERTALE-2/player.ts
Due: check

feat: 被ダメージ後の無敵時間を定義し、プレイヤーのHP管理に統合
  UNDERTALE-2/constants.ts
  UNDERTALE-2/player.ts
Due: check

feat: ハート破片の生成処理を改善し、均等な角度分布で飛ばすように変更
  UNDERTALE-2/player.ts
Due: check

feat: エンティティのダメージを5に変更し、無敵時間の管理を改善
  UNDERTALE-2/constants.ts
  UNDERTALE-2/player.ts
Due: check

feat: エンティティのダメージを10に変更し、ハートの色を適用する処理を追加
  UNDERTALE-2/constants.ts
  UNDERTALE-2/player.ts
Due: check

feat: プレイフィールドのサイズに関する定数を追加し、初期サイズを設定
  UNDERTALE-2/constants.ts
  UNDERTALE-2/debug.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/main.ts
Due: check

feat: 行動選択ボタンのスタイルを追加し、プレイヤーのアクションメニューを実装
  UNDERTALE-2/index.html
Due: format_html

feat: Implement core game mechanics and entity management
  Temporary/constants.ts
  Temporary/debug.ts
  Temporary/entity.ts
  Temporary/game.ts
  Temporary/main.ts
  Temporary/player.ts
  Temporary/types.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/debug.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/player.ts
  UNDERTALE-2/ts/tsconfig.json
  UNDERTALE-2/ts/types.ts
Due: check, format_html

feat: 攻撃を受けた際のハートの不透明度管理を改善し、無敵時間の計算を修正
  UNDERTALE-2/ts/player.ts
Due: check

Remove temporary game files and related code
  Temporary/constants.ts
  Temporary/debug.ts
  Temporary/entity.ts
  Temporary/game.ts
  Temporary/main.ts
  Temporary/player.ts
  Temporary/types.ts
Due: check

feat: ボタンのテキストインデントを追加し、ダメージクールダウン時間を短縮
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
Due: check, format_html

feat: アクションボタンにアイコンとラベルを追加し、アイコン管理APIを実装
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/tsconfig.json
Due: check, format_html

feat: プレイフィールドの初期サイズを720x240に変更し、デバッグモジュールの状態を更新する機能を追加
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
Due: check

feat: プレイフィールドのサイズを720pxに変更し、リサイズ時にハートを再配置する機能を追加
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: 衝突検出のエラーハンドリングを追加し、ハートの色変更イベントを通知する機能を実装
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/player.ts
Due: check, format_html

Add safe wrapper for collision detection to handle malformed entities
  UNDERTALE-2/assets/attack-bar.svg
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/entity-compat.ts
  UNDERTALE-2/ts/game.ts
Due: check, format_html

feat: 衝突検出の安全ラッパーを削除し、直接的な衝突検出を実行するように変更
  UNDERTALE-2/ts/entity-compat.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/game.ts
Due: check

feat: SVGパスの垂直位置を調整するために変換属性を追加
  UNDERTALE-2/index.html
Due: format_html

feat: 行動選択ボックスのフォントサイズを定義し、スタイルを適用
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

Enhance gameover retry functionality and adjust action button font size
  UNDERTALE-2/assets/attack-bar.svg
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
Due: check, format_html

Implement feature X to enhance user experience and fix bug Y in module Z
  UNDERTALE-2/assets/attack-bar.svg
Due: none

feat: 攻撃バーのSVGを表示し、リサイズ前に削除する処理を追加
  UNDERTALE-2/ts/main.ts
Due: check

feat: 攻撃バーのSVGファイルを新規作成
  UNDERTALE-2/assets/attack-bar-2.svg
Due: none

Implement code changes to enhance functionality and improve performance
  UNDERTALE-2/assets/attack-bar.svg
  UNDERTALE-2/assets/attack-bar.svg.bak
Due: none

feat: 攻撃バーのSVGファイルを削除
  UNDERTALE-2/assets/attack-bar-2.svg
Due: none

feat: プレイフィールド内に攻撃バーSVGを表示する処理を追加
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/main.ts
Due: check, format_html

fix: エンティティの寿命を5秒から4.5秒に変更し、fadingプロパティをEntity型に追加
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/types.ts
Due: check

feat: Enhance game logic and player mechanics with detailed comments and structured code
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/debug.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/player.ts
  UNDERTALE-2/ts/types.ts
Due: check
