Repository yanagi-jabee-28/GAME-ON: changes, and which lefthook commands are due for each by the changed paths.
All: check, format_html

lefthook.yml:

pre-commit:
  commands:
    check:
      glob: "*.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}"
      run: npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}
      stage_fixed: true
    format_html:
      glob: "*.html"
      run: npx prettier --write --no-error-on-unmatched-pattern --ignore-unknown {staged_files}
      stage_fixed: true

fix: プレイヤーと弾の速度を調整し、バランスを改善
  UNDERTALE-1/main.ts
Due: check

feat(ui): enhance UIManager with TypeScript typings and error handling improvements
  CC-LEMON-1/main.ts
  GAME-DICE-1/main.ts
  GAME-SLOT-1/audio.ts
  GAME-SLOT-1/global.d.ts
  GAME-SLOT-1/script.ts
  GAME-pachinko-1/ts/config.ts
  GAME-pachinko-1/ts/dev-tools.ts
  GAME-pachinko-1/ts/global.d.ts
  GAME-pachinko-1/ts/main.ts
  GAME-pachinko-1/ts/objects.ts
  GAME-pachinko-1/ts/slot-adapter.ts
  NUMA-1/main.ts
  Novel-games/global.d.ts
  Novel-games/ts/config.ts
  Novel-games/ts/events.ts
  Novel-games/ts/eventsData.ts
  Novel-games/ts/gameManager.ts
  Novel-games/ts/items.ts
  Novel-games/ts/main.ts
  Novel-games/ts/ui.ts
  Number-BATTLE-3/generate-tablebase.js
  Number-BATTLE-3/ts/config.ts
  Number-BATTLE-3/ts/game.ts
  Number-BATTLE-3/ts/ui.d.ts
  tsconfig.app.json
  types/matter-augment.d.ts
  types/slot.d.ts
  types/vite/client.d.ts
  types/vite/index.d.ts
  types/vite/json-url.d.ts
Due: check

fix: 修正コマンドにcmd /cを追加してWindows環境での実行を改善
  lefthook.yml
Due: none

Add common types and interfaces for game development
  GAME-DICE-1/main.ts
  GAME-pachinko-1/ts/global.d.ts
  GAME-pachinko-1/ts/main.ts
  errors.log
  types/common.d.ts
  types/vite/client.d.ts
Due: check

feat: UNDERTALE-2のHTMLとTypeScriptファイルを追加し、ゲームデモを実装
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
  index.html
Due: check, format_html

feat(bullets): add bullet pattern selection and homing behavior
  UNDERTALE-2/main.ts
Due: check

feat(bullets): implement applyHoming function for bullet velocity adjustment
  UNDERTALE-2/main.ts
Due: check

feat: プログラムの機能追加時に再利用性を考慮してモジュールや関数として実装する指示を追加
  AGENT.md
Due: none

feat: UNDERTALE-2のハート移動デモを実装し、SVGハート画像を追加
  UNDERTALE-2/assets/heart-shape-svgrepo-com.svg
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

fix: ハートSVGの色を黄色から赤に変更
  UNDERTALE-2/assets/heart-shape-svgrepo-com.svg
Due: none

feat: ハートのSVGを画像からDOM要素に変更し、スペースキーで色を変更できる機能を追加
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

refactor: ハートの色をHSL形式で定義し、色変更ロジックを修正
  UNDERTALE-2/main.ts
Due: check

Implement feature X to enhance user experience and fix bug Y in module Z
  errors.log
Due: none

feat: エンティティの生成と更新機能を追加し、デモシナリオを実装
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

feat: 衝突検出機能を追加し、エンティティの透明度を調整
  UNDERTALE-2/main.ts
Due: check

feat: 弾丸ヒット時の削除オプションを追加し、衝突検出ロジックを改善
  UNDERTALE-2/main.ts
Due: check

feat: エンティティに星形と三角形の形状を追加し、生成ロジックを更新
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

feat: エンティティにライフタイムを追加し、ホーミング機能を実装
  UNDERTALE-2/main.ts
Due: check

feat: エンティティの衝突透明度を追加し、オプシティの更新ロジックを改善
  UNDERTALE-2/main.ts
Due: check

feat: ゲームロジックを整理し、エンティティの生成と更新を改善
  UNDERTALE-2/constants.ts
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/main.ts
  UNDERTALE-2/player.ts
  UNDERTALE-2/types.ts
Due: check

feat: デバッグ機能を追加し、エンティティの生成をマークする機能を実装
  UNDERTALE-2/debug.ts
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
Due: check, format_html

feat: デモシナリオからエンティティのスポーンを削除
  UNDERTALE-2/game.ts
Due: check

feat: 定数や関数に日本語のコメントを追加し、コードの可読性を向上
  UNDERTALE-2/constants.ts
  UNDERTALE-2/debug.ts
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
  UNDERTALE-2/player.ts
Due: check, format_html

feat: プログラム作成時の日本語コメント追加に関する指示を明確化
  AGENT.md
Due: none

feat: スポーンマーカーの表示機能を追加し、デバッグ表示を改善
  UNDERTALE-2/debug.ts
  UNDERTALE-2/entity.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
Due: check, format_html

feat: スポーンマーカーの切り替えキーを'S'から'P'に変更し、操作説明を更新
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
Due: check, format_html

feat: プレイフィールドのサイズ調整機能を追加し、操作説明を更新
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/player.ts
Due: check, format_html

feat: プレイフィールドサイズ管理機能を追加し、デバッグ機能を改善
  UNDERTALE-2/debug.ts
  UNDERTALE-2/game.ts
Due: check

feat: プレイフィールドの初期サイズを240pxに変更し、操作説明を更新
  UNDERTALE-2/debug.ts
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
Due: check, format_html

feat: 操作説明のスタイルを改善し、リスト形式に変更
  UNDERTALE-2/index.html
Due: format_html

feat: エンティティの衝突判定を形状ベースに改善し、サンプルポイント生成を廃止
  UNDERTALE-2/entity.ts
Due: check

feat: 敵シンボル表示領域を追加し、敵表示の初期化を実装
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

feat: 敵シンボル管理機能を追加し、表示スタイルを改善
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
  UNDERTALE-2/types.ts
Due: check, format_html

feat: 敵シンボルに魚を追加
  UNDERTALE-2/main.ts
Due: check

feat: TypeScriptの型注釈に関する指示を追加し、型安全性と可読性を向上
  AGENT.md
Due: none

Refactor main.ts and ui.ts for improved type safety and code clarity
  Number-BATTLE-3/ts/ai.ts
  Number-BATTLE-3/ts/config.ts
  Number-BATTLE-3/ts/debug.ts
  Number-BATTLE-3/ts/game.ts
  Number-BATTLE-3/ts/main.ts
  Number-BATTLE-3/ts/ui.ts
Due: check

fix: UNDERTALE-2がNot Foundになる問題を修正
  index.html
  vite.config.ts
Due: check, format_html

feat: 敵シンボルにパピルスを追加し、表示スタイルを改善
  UNDERTALE-2/assets/icons8-パピルス-100.png
  UNDERTALE-2/game.ts
  UNDERTALE-2/index.html
  UNDERTALE-2/main.ts
Due: check, format_html

Refactor TypeScript types and UI module declarations
  AGENT.md
  Novel-games/ts/events.ts
  Novel-games/ts/gameManager.ts
  Novel-games/ts/soundManager.ts
  Novel-games/ts/ui.ts
  Number-BATTLE-3/ts/main.ts
  Number-BATTLE-3/ts/types.d.ts
  Number-BATTLE-3/ts/ui.d.ts
Due: check

fix: 画像パスをモジュール相対に修正し、SVG取得時のエラーハンドリングを改善
  UNDERTALE-2/main.ts
  UNDERTALE-2/player.ts
Due: check
