Repository yanagi-jabee-28/GAME-ON: changes, and which lefthook commands are due for each by the changed paths.
All: check, format_html

check:
  run: cmd /c "npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}"
  stage_fixed: true

format_html:
  run: cmd /c "npx prettier --write --no-error-on-unmatched-pattern --ignore-unknown {staged_files}"
  stage_fixed: true

feat: プログラムのコメントに関する指針を追加し、正確さと計算資源に関する方針を明確化
  AGENT.md
Due: none

feat: エラーハンドリングと短期的修正に関する指針を追加し、品質基準を明確化
  AGENT.md
Due: none

feat: カスタム指示書を更新し、AIの行動規範と対話作法を明確化
  AGENT.md
Due: none

feat: 攻撃中にアクションを無効化し、エンティティの出現を停止する機能を追加
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: 戦闘終了時にプレイヤーオーバーレイを復元する機能を追加
  UNDERTALE-2/index.html
Due: format_html

feat: index.html内のスクリプトをmain.tsに移動し、HPバーの初期表示やアクションメニューの管理機能を追加
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: 攻撃バーの表示/非表示に伴うアクションボタンの無効化機能を追加
  UNDERTALE-2/ts/main.ts
Due: check

feat: AIの推論プロセスにおける結果の質を優先する方針を追加
  AGENT.md
Due: none

feat: アクションボタンの無効化スタイルを追加し、ゲームオーバー状態を管理するフラグを実装
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: ゲームオーバー時のフラグ設定とコンバットタイマーのキャンセル処理を追加
  UNDERTALE-2/ts/main.ts
Due: check

feat: 戦闘の持続時間を定義し、コンバットタイマーに適用
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check

feat: SVGファイルの最適化と不要なメタデータの削除
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broken.svg
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broken.svg.bak
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broking.svg
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broking.svg.bak
  UNDERTALE-2/assets/heart-shape-svgrepo-com.svg
  UNDERTALE-2/assets/heart-shape-svgrepo-com.svg.bak
Due: none

refactor: プレイヤーの位置制限処理を最適化し、ハート要素の取得を一元化
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/player.ts
Due: check, format_html

style: ハート本体のベーススタイルのコメントを整理
  UNDERTALE-2/index.html
Due: format_html

feat: 攻撃ボックスのスタイルとアニメーションを追加
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: 攻撃ボックスの初期位置を調整し、選択状態の視覚的表示を削除 refactor: スポーンライン表示を無効化
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/debug.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: エンティティのホーミング強さを定数として追加し、更新処理に適用
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/entity.ts
Due: check

feat: 敵リスト表示オーバーレイを追加し、決定キーのバインディングを設定
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: キーバインディングの設定を強化し、スペースキーのデフォルト動作を無効化
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check

feat: 敵リスト表示中の行動選択を無効化し、キャンセルキーの処理を追加
  UNDERTALE-2/ts/main.ts
Due: check

feat: キャンセル時のみ敵リストの行動選択を再有効化する処理を追加
  UNDERTALE-2/ts/main.ts
Due: check

feat: ホーミング力を定数として強化し、エンティティの動作を改善
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/entity.ts
Due: check

feat: プレイヤーオーバーレイのフォントサイズを定数化し、スタイルを更新
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: プレイグラウンドテキストの左余白を1.5emに増加
  UNDERTALE-2/index.html
Due: format_html

feat: コードやドキュメントでの色指定にHSLA形式をデフォルトとして使用することを明記
  AGENT.md
Due: none

feat: 敵選択時のオーバーレイ表示を強化し、色付きテキストをサポート
  UNDERTALE-2/ts/main.ts
Due: check

feat: 敵データ管理システムを追加し、敵のステータスや攻撃パターンを定義
  UNDERTALE-2/ts/ENEMY_DATA_USAGE.md
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/types.ts
Due: check

feat: 新しいハート形SVGファイルを追加
  UNDERTALE-2/assets/heart-shape-svgrepo-com-breking.svg
  UNDERTALE-2/assets/heart-shape-svgrepo-com-breking.svg.bak
Due: none

fix: SVGファイル名のスペルミスを修正
  UNDERTALE-2/assets/heart-shape-svgrepo-com-breking.svg
  UNDERTALE-2/assets/heart-shape-svgrepo-com-broken.svg
  UNDERTALE-2/ts/player.ts
Due: check

feat: ゲーム設定ファイルの構成を整理し、constants.tsとconfig.tsの違いを明確化
  UNDERTALE-2/ts/FILE_STRUCTURE.md
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check

feat: 敵を倒した際にシンボルとデータを削除する機能を追加
  UNDERTALE-2/ts/main.ts
Due: check

refactor: config.tsとconstants.tsのコメントを整理し、インポート順を修正
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/main.ts
Due: check

feat: シンボルの重みを調整し、当たり演出時の選択ロジックを改善
  GAME-SLOT-1/config.ts
  GAME-SLOT-1/script.ts
Due: check

feat: AGENTS.mdを新規作成し、AIの行動規則や対話作法を明確化
  AGENTS.md
Due: none

feat: SLOT-3スロットゲームの初期実装と設定ファイルの追加
  SLOT-3/README.md
  SLOT-3/config.ts
  SLOT-3/global.d.ts
  SLOT-3/index.html
  SLOT-3/script.ts
  SLOT-3/style.css
  index.html
  vite.config.ts
Due: check, format_html

feat: リールストリップの初期化処理を追加
  SLOT-3/script.ts
Due: check

feat: SLOT-3スロットゲームの設定ファイルとロジックを新規作成し、リールのスピンアニメーションを実装
  SLOT-3/index.html
  SLOT-3/script.ts
  SLOT-3/style.css
  SLOT-3/ts/config.ts
  SLOT-3/ts/global.d.ts
  SLOT-3/ts/script.ts
Due: check, format_html

feat: スピンアニメーションの時間と減速時間を調整し、リールの初期位置設定を改善
  SLOT-3/ts/script.ts
Due: check

feat: SLOT-3スロットゲーム関連ファイルを削除し、ゲーム選択インデックスからリンクを削除
  SLOT-3/README.md
  SLOT-3/index.html
  SLOT-3/style.css
  SLOT-3/ts/config.ts
  SLOT-3/ts/global.d.ts
  SLOT-3/ts/script.ts
  index.html
  vite.config.ts
Due: check, format_html

Add type definitions for Slot Game including configurations, audio management, and game instance structure
  GAME-SLOT-1/index.html
  GAME-SLOT-1/ts/audio.ts
  GAME-SLOT-1/ts/config.ts
  GAME-SLOT-1/ts/global.d.ts
  GAME-SLOT-1/ts/script.ts
  GAME-SLOT-1/ts/slot.d.ts
Due: check, format_html

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format_html: any of: *.html
