Repository yanagi-jabee-28/GAME-ON: changes, and which lefthook commands are due for each by the changed paths.
All: check, format_html

check:
  run: cmd /c "npx biome check --write --no-errors-on-unmatched --files-ignore-unknown=true --colors=off {staged_files}"
  stage_fixed: true

format_html:
  run: cmd /c "npx prettier --write --no-error-on-unmatched-pattern --ignore-unknown {staged_files}"
  stage_fixed: true

Refactor TypeScript definitions and enhance type safety
  GAME-pachinko-1/ts/config.ts
  GAME-pachinko-1/ts/dev-tools.ts
  GAME-pachinko-1/ts/global.d.ts
  GAME-pachinko-1/ts/main.ts
  GAME-pachinko-1/ts/objects.ts
  GAME-pachinko-1/ts/slot-adapter.ts
  types/matter-augment.d.ts
  types/poly-decomp.d.ts
Due: check

feat: UIManagerとSlotGameクラスでのオプショナルチェイニングを導入し、エラーハンドリングを改善
  GAME-SLOT-1/ts/script.ts
Due: check

Implement code structure updates and remove redundant sections
  GAME-SLOT-1/assets/ペカリ.mp3
  GAME-SLOT-1/assets/ボタン.mp3
  GAME-SLOT-1/assets/リール.mp3
  GAME-SLOT-1/assets/当たり音.mp3
  GAME-SLOT-1/ts/script.ts
Due: check

Refactor code structure for improved readability and maintainability
  GAME-SLOT-1/assets/ペカリ.mp3
  GAME-SLOT-1/ts/config.ts
  GAME-SLOT-1/ts/script.ts
  UNDERTALE-2/assets/ペカリ.mp3
Due: check

feat: スロットゲームの当たり確率設定を簡素化し、自動計算機能を追加
  GAME-SLOT-1/ts/config.ts
  GAME-SLOT-1/ts/script.ts
  GAME-SLOT-1/ts/slot.d.ts
Due: check

feat: シンボル出現確率設定を整理し、配当倍率の計算方法を明確化
  GAME-SLOT-1/ts/config.ts
  GAME-SLOT-1/ts/slot.d.ts
Due: check

fix: 修正されたスクリプトパスを更新し、正しいリソースをプリロード
  GAME-pachinko-1/index.html
  GAME-pachinko-1/ts/slot-adapter.ts
Due: check, format_html

feat: サウンドファイルのインポートを追加し、ゲーム設定に統合
  GAME-SLOT-1/ts/config.ts
Due: check

refactor: 不要な型定義ファイルを削除し、tsconfigを整理
  tsconfig.app.json
  types/vite-client.d.ts
  types/vite/client.d.ts
  types/vite/index.d.ts
  types/vite/json-url.d.ts
Due: check

feat: ビームエンティティの追加とビーム生成ボタンの実装
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/types.ts
Due: check, format_html

feat: ハートのアクティブ状態管理を追加し、衝突判定とプレイヤーの移動に反映
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/player.ts
Due: check

feat: ビームの速度を向上させ、ホーミングロジックにビーム形状の条件を追加
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/main.ts
Due: check

feat: ブラスター攻撃の設定と生成ロジックを追加し、操作方法を更新
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
  UNDERTALE-2/ts/types.ts
Due: check, format_html

fix: ブラスターのダメージ量を修正
  UNDERTALE-2/ts/config.ts
Due: check

fix: エンティティのダメージ量を10から2に修正
  UNDERTALE-2/ts/config.ts
Due: check

feat: ゲームクリアオーバーレイを追加し、全敵撃破時の処理を実装
  UNDERTALE-2/index.html
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: The 10 をセットアップ & ルーティングに追加
  THE-TEN/index.html
  THE-TEN/src/App.tsx
  THE-TEN/src/index.tsx
  THE-TEN/src/style.css
  index.html
  package-lock.json
  package.json
  tsconfig.app.json
  vite.config.ts
Due: check, format_html

feat: ゲームのコア機能を追加
  THE-TEN/src/the-ten/config.ts
  THE-TEN/src/the-ten/hardware/button.ts
  THE-TEN/src/the-ten/hardware/display.ts
  THE-TEN/src/the-ten/hardware/index.ts
  THE-TEN/src/the-ten/hardware/led.ts
  THE-TEN/src/the-ten/hardware/reedSwitch.ts
  THE-TEN/src/the-ten/logic/calculation.ts
  THE-TEN/src/the-ten/logic/digitMatchGame.ts
  THE-TEN/src/the-ten/logic/quiz.ts
  THE-TEN/src/the-ten/presenter/digitMatchGame.ts
  THE-TEN/src/the-ten/presenter/effect.ts
  THE-TEN/src/the-ten/presenter/gameLifecycle.ts
  THE-TEN/src/the-ten/presenter/makeTenGame.ts
  THE-TEN/src/the-ten/presenter/operationInput.ts
  THE-TEN/src/the-ten/scripts/makeQuestion.ts
  THE-TEN/src/the-ten/utils/binary.ts
  THE-TEN/src/the-ten/utils/math.ts
  THE-TEN/src/the-ten/utils/timer.ts
Due: check

feat: アダプターと演算の状態管理機能を実装
  THE-TEN/src/primitives/hardware-adapter.ts
  THE-TEN/src/primitives/operationSlots.ts
Due: check

feat: Tailwind用のいろいろを追加
  THE-TEN/src/utils.ts
  package-lock.json
  package.json
Due: check

fix: Reactの型が使われてしまう問題を修正
  THE-TEN/tsconfig.json
  tsconfig.app.json
Due: check

feat: ブラスターの生成抑止機能を追加し、攻撃終了時にブラスターを即時除去する処理を実装
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/game.ts
  UNDERTALE-2/ts/main.ts
Due: check

Add syllabus for "創造工学実験" course in HTML and Markdown formats
  Creative/24開講電気電子工学科4創造工学実験.pdf
  Creative/test.html
  Creative/test.md
  UNDERTALE-2/ts/main.ts
Due: check, format_html

feat: ブラスターの出現確率を調整し、追加ブラスターの出現機能を実装
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/game.ts
Due: check

Add Intro Audio Player with playback controls and looping functionality
  intro/assets/001_四国めたん（ノーマル）_こちらは、5Eのク….wav
  intro/assets/002_四国めたん（ノーマル）_5Eでは創造工学実….wav
  intro/assets/003_四国めたん（ノーマル）_創造工学実習とは、….wav
  intro/assets/004_四国めたん（ノーマル）_それぞれの想像力を….wav
  intro/assets/005_四国めたん（ノーマル）_ぜひお楽しみくださ….wav
  intro/index.html
Due: format_html

feat: ゲームを実装
  THE-TEN/src/App.tsx
  THE-TEN/src/assets/DSEG7Modern-LightItalic.woff2
  THE-TEN/src/components/Button.tsx
  THE-TEN/src/components/Digit.tsx
  THE-TEN/src/components/GameConsole.tsx
  THE-TEN/src/components/Led.tsx
  THE-TEN/src/components/OperationCard.tsx
  THE-TEN/src/components/OperationDragDropBoundary.tsx
  THE-TEN/src/components/ReserveOperations.tsx
  THE-TEN/src/components/card.tsx
  THE-TEN/src/components/dnd.tsx
  THE-TEN/src/index.tsx
  THE-TEN/src/primitives/hardware-adapter.ts
  THE-TEN/src/primitives/operationSlots.ts
  THE-TEN/src/style.css
  THE-TEN/src/the-ten/config.ts
  package-lock.json
  package.json
Due: check

feat: Implement audio playback functionality with looping and drag-and-drop sorting
  index.html
  intro/assets/001_四国めたん（ノーマル）_こちらは、5Eのク….wav
  intro/assets/002_四国めたん（ノーマル）_5Eでは創造工学実….wav
  intro/assets/003_四国めたん（ノーマル）_創造工学実習とは、….wav
  intro/assets/004_四国めたん（ノーマル）_それぞれの想像力を….wav
  intro/assets/005_四国めたん（ノーマル）_ぜひお楽しみくださ….wav
  intro/assets/01-001_四国めたん（ノーマル）_こちらは、5Eのク….mp3
  intro/assets/02-002_四国めたん（ノーマル）_5Eでは創造工学実….mp3
  intro/assets/03-003_四国めたん（ノーマル）_創造工学実習とは、….mp3
  intro/assets/04-004_四国めたん（ノーマル）_それぞれの想像力を….mp3
  intro/assets/05-005_四国めたん（ノーマル）_ぜひお楽しみくださ….mp3
  intro/index.html
  intro/main.ts
  vite.config.ts
Due: check, format_html

fix: OperationSlotに既に演算が設定されている状態で、演算を上書きすると、その後のドラッグがおかしくなる問題を修正
  THE-TEN/src/components/GameConsole.tsx
  THE-TEN/src/components/OperationDragDropBoundary.tsx
  THE-TEN/src/components/dnd.tsx
  THE-TEN/src/global.d.ts
  THE-TEN/src/primitives/operationSlots.ts
Due: check

feat: Update blaster targeting logic and spawn interval configuration
  THE-TEN/tsconfig.json
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/game.ts
Due: check

fix: ReserveOperationsのインポート順序を修正し、root要素が存在しない場合のエラーハンドリングを追加
  THE-TEN/src/App.tsx
  THE-TEN/src/index.tsx
Due: check

feat: プロジェクトセットアップ指針を追加し、Viteプロジェクトのシンプルなセットアップ手順を明記
  AGENTS.md
Due: none

feat: 宣伝を追加
  THE-TEN/src/App.tsx
  THE-TEN/src/components/Architecture.tsx
  THE-TEN/src/style.css
  package-lock.json
  package.json
Due: check

feat: 音声ファイルの動的インポートを実装し、自動再生ポリシーに対応するための関数を追加 feat: Viteでのmp3ファイルインポートを可能にする型定義を追加
  intro/main.ts
  types/common.d.ts
Due: check

feat: 再生中のAudioインスタンスを管理し、ループ停止時に音声を即座に停止する機能を追加
  intro/main.ts
Due: check

feat: 音声ファイルのプリロード機能を追加し、再生時の遅延を軽減
  UNDERTALE-2/ts/game.ts
  intro/main.ts
Due: check

feat: プレイヤー位置に基づくブラスターの狙いを改善し、前回位置からのオフセット比を計算する関数を追加
  UNDERTALE-2/ts/game.ts
Due: check

feat: 新しい音声ファイルを追加
  intro/assets/06-006_四国めたん（ノーマル）_前方のパソコンでは….mp3
Due: none

feat: 6番目の音声ファイルを追加し、再生ボタンを更新
  intro/index.html
  intro/main.ts
Due: check, format_html

feat: ブラスターの出現間隔を追加し、連続出現を防ぐ機能を実装
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/game.ts
Due: check

feat: エンティティのライフタイムを短縮し、速度の最小・最大値とターゲット精度を追加
  UNDERTALE-2/ts/config.ts
  UNDERTALE-2/ts/constants.ts
  UNDERTALE-2/ts/entity.ts
  UNDERTALE-2/ts/game.ts
Due: check

Path conditions:
  check: any of: *.{js,ts,cjs,mjs,d.cts,d.mts,jsx,tsx,json,jsonc}
  format_html: any of: *.html
